@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
  font-size: 2rem;
  text-align: center;
}

body {
  background-color: #333537;
  color: #ffa047;
}

header {
  margin-bottom: 40px;
}

main aside {
  margin-bottom: 20px;
}

#user-name {
  font-weight: 800;
}

aside p {
  font-size: 1.3rem;
}
